
<?xml version="1.0"?>
<model>
    <name>Red boundary</name>
    <version>1.0</version>
    <sdf version="1.5">boundary_model.sdf</sdf>
    <author>
        <name>Amit Blonder</name>
        <email>amitblon@buffalo.edu</email>
    </author>
    <description>
        Red boundary
    </description>
</model>
